/*--
    - Google Font Import 
-----------------------------------------*/
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;0,700;0,900;1,400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Teko:wght@300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css?family=Muli:300,400,400i,500,500i,600,600i,700,700i,800,800i&display=swap");

/*--
    - Common CSS 
-----------------------------------------*/
html,
body {
  height: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  scroll-behavior: smooth;
}

body {
  font-family: "Muli", sans-serif;
  font-size: 16px;
  line-height: 26px;
  font-weight: 400;
  position: relative;
  z-index: 1;
  background: #FFF;
  overflow-x: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  position: relative;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  margin: 0;
}

h1 {
  font-size: 55px;
  line-height: 65px;
  color: #171717;
}

@media only screen and (min-width: 992px) and (max-width: 1200px) {
  h1 {
    font-size: 50px;
    line-height: 60px;
  }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  h1 {
    font-size: 45px;
    line-height: 55px;
  }
}

@media (max-width: 767px) {
  h1 {
    font-size: 40px;
    line-height: 50px;
  }
}

h2 {
  font-size: 50px;
}

@media (max-width: 767px) {
  h2 {
    font-size: 40px;
  }
}

h3 {
  font-size: 35px;
}

@media (max-width: 767px) {
  h3 {
    font-size: 24px;
  }
}

a {
  text-decoration: none;
  cursor: pointer;
  font-size: 12px;
  font-weight: 400;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  color: #171717;
}

a:hover {
  color: #171717;
}

p {
  font-family: "Muli", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  position: relative;
  color: #878787;
}

button,
input,
textarea,
a:hover,
a:focus,
a:visited {
  text-decoration: none;
  outline: none;
  outline-width: 0 !important;
}

input:focus::-webkit-input-placeholder,
textarea:focus::-webkit-input-placeholder {
  color: transparent;
}

img {
  display: inline-block;
  max-width: 100%;
}

i,
span,
a {
  display: inline-block;
}

ul {
  list-style: none;
  margin: 0px;
  padding: 0px;
}

li {
  display: inline-block;
}

table,
th,
tr,
td {
  border: 1px solid #ddd;
}

th,
tr,
td {
  padding: 10px;
}

hr {
  border-top: 1px solid rgba(135, 135, 135, 0.25);
}

.fix {
  overflow: hidden;
}

/*Section Padding CSS*/
.section-padding {
  padding: 120px 0;
}

@media only screen and (min-width: 992px) and (max-width: 1200px) {
  .section-padding {
    padding: 100px 10px;
  }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .section-padding {
    padding: 60px 30px;
  }
}

@media only screen and (min-width: 576px) and (max-width: 767px) {
  .section-padding {
    padding: 60px 10px;
  }
}

@media (max-width: 575px) {
  .section-padding {
    padding: 30px 10px;
  }
}

/*Margin & Padding */

.pb-120 {
  padding-bottom: 120px;
}

.mb-20 {
  margin-bottom: 20px;
}

.mt-30 {
  margin-top: 30px;
}

.mt-40 {
  margin-top: 40px;
}

.mb-50 {
  margin-bottom: 50px;
}

.mt-100 {
  margin-top: 100px;
}

/*Section Title */
.section-title {
  position: relative;
  margin-bottom: 30px;
}

@media (max-width: 767px) {
  .section-title {
    margin-bottom: 0;
  }
}

.section-title h1 {
  font-size: 55px;
  line-height: 65px;
}

@media only screen and (min-width: 992px) and (max-width: 1200px) {
  .section-title h1 {
    font-size: 50px;
    line-height: 55px;
  }
}

@media (max-width: 767px) {
  .section-title h1 {
    font-size: 34px;
    line-height: 44px;
  }
}

.section-title h2 {
  font-size: 50px;
  font-weight: 500;
  line-height: 60px;
  color: #171717;
  letter-spacing: -1px;
}

@media only screen and (min-width: 992px) and (max-width: 1200px) {
  .section-title h2 {
    font-size: 40px;
    line-height: 50px;
  }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .section-title h2 {
    font-size: 40px;
    line-height: 50px;
    margin: 0;
  }
}

@media (max-width: 767px) {
  .section-title h2 {
    font-size: 27px;
    line-height: 37px;
    margin: 20px 0;
  }
}

.section-title h6 {
  color: #8b8b8b;
  font-family: "Roboto", sans-serif;
  font-size: 13px;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: 3px;
  text-transform: uppercase;
  margin-bottom: 20px;
}

/*Button Style */
.theme-btn {
  display: inline-block;
  background: #086AD7;
  color: #fff;
  font-family: "Roboto", sans-serif;
  font-size: 15px;
  font-weight: 500;
  line-height: 20px;
  padding: 16px 45px;
  border: 1px solid #086AD7;
  border-radius: 7px;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.theme-btn:hover {
  background: #1F2437;
  color: #fff;
  border-color: #1F2437;
}

@media only screen and (min-width: 992px) and (max-width: 1200px) {

  .theme-btn {
    padding: 12px 24px;
  }
}

/*Form Style CSS */
input,
textarea,
select {
  width: 100%;
  color: #fff;
  background: transparent;
  border: 1px solid #eee;
  padding: 13px 20px;
  font-size: 14px;
  letter-spacing: 1px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

textarea {
  height: 200px;
}

input[type=submit],
button[type=submit] {
  border: none;
  border-radius: 0;
  display: inline-block;
  background: #086AD7;
  color: #fff;
  padding: 15px 45px;
  width: auto;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  cursor: pointer;
  font-size: 15px;
}

input[type=submit]:hover,
button[type=submit]:hover {
  background: #086AD7;
  color: #fff;
}

input::placeholder,
textarea::placeholder {
  font-size: 15px;
  font-weight: 400;
  color: #fff;
}

input.form-control {
  padding: 12px 20px;
  line-height: 1.2;
}

/*Bootstrap CSS*/

.container {
  max-width: 1200px;
}

.btn:focus,
.btn:active {
  outline: none !important;
  box-shadow: none;
}

/* Bacground Color & Overlay CSS 
============== */

.gray-bg {
  background: #F3F8FB;
}

.blue-bg {
  background: #086AD7;
}

.overlay {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  background-color: #171717;
  opacity: 0.5;
  top: 0;
  left: 0;
  z-index: -1;
}

.overlay.active {
  position: fixed;
  right: 0;
  top: 0;
  height: 100%;
  width: 100%;
  content: "";
  background-color: #000;
  z-index: 99;
  opacity: 0.5;
  visibility: visible;
}

.text-black {
  color: #171717 !important;
}

.text-white {
  color: #fff !important;
}

.fix {
  overflow: hidden;
}

/* Preloader*/
.preloader {
  background-color: #fff;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
  position: fixed;
  z-index: 9999999;
}

.spinner {
  width: 60px;
  height: 60px;
  top: 30%;
  position: relative;
  margin: 100px auto;
}

.double-bounce1,
.double-bounce2 {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: #086AD7;
  opacity: 0.6;
  position: absolute;
  top: 0;
  left: 0;
  -webkit-animation: sk-bounce 2s infinite ease-in-out;
  animation: sk-bounce 2s infinite ease-in-out;
}

.double-bounce2 {
  -webkit-animation-delay: -1s;
  animation-delay: -1s;
}

@-webkit-keyframes sk-bounce {

  0%,
  100% {
    -webkit-transform: scale(0);
  }

  50% {
    -webkit-transform: scale(1);
  }
}

@keyframes sk-bounce {

  0%,
  100% {
    transform: scale(0);
    -webkit-transform: scale(0);
  }

  50% {
    transform: scale(1);
    -webkit-transform: scale(1);
  }
}

/* Off Canvas Menu CSS
======================*/

.menu-trigger span {
  background-color: #333;
  display: block;
  height: 1px;
  margin: 8px auto;
  margin-left: 5px;
  width: 30px;
  transition: all 0.1s;
}

.menu-trigger span:nth-child(2) {
  margin-left: 0px;
}

.menu-trigger:hover span:nth-child(2) {
  margin-left: 5px;
}

.menu-trigger span:nth-child(2) {
  margin-left: 0px;
}

.menu-close {
  position: absolute;
  right: 25px;
  top: 25px;
  color: #777;
  padding: 7px;
  cursor: pointer;
  font-size: 30px;
  font-weight: 300;
}

.menu-close:hover {
  color: #333;
}

.extra-info {
  background: #141417 none repeat scroll 0 0;
  height: 100%;
  padding: 40px;
  position: fixed;
  right: 0;
  top: 0;
  -webkit-transition: all 0.7s ease 0s;
  -o-transition: all 0.7s ease 0s;
  transition: all 0.7s ease 0s;
  width: 400px;
  z-index: 999;
  overflow-y: scroll;
  -webkit-transform: translateX(100%);
  -ms-transform: translateX(100%);
  transform: translateX(100%);
  opacity: 0;
  visibility: hidden;
}

.extra-info.active {
  -webkit-transform: translateX(0);
  -ms-transform: translateX(0);
  transform: translateX(0);
  opacity: 1;
  visibility: visible;
}

.offcanvas-overly {
  position: fixed;
  background: #000;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 99;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

.offcanvas-overly.active {
  opacity: 0.5;
  visibility: visible;
}

@-webkit-keyframes rotateCircle {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes rotateCircle {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

.header-sticky {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: #fff;
  opacity: 1;
  visibility: visible;
  width: 100%;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  animation: 0.5s ease-in-out 0s normal none 1 running fadeInDown;
  z-index: 999;
}

/* services animation effect 
----------------------------------*/
@-webkit-keyframes hvr-buzz-out {
  10% {
    -webkit-transform: translateX(3px) rotate(2deg);
    transform: translateX(3px) rotate(2deg);
  }

  20% {
    -webkit-transform: translateX(-3px) rotate(-2deg);
    transform: translateX(-3px) rotate(-2deg);
  }

  30% {
    -webkit-transform: translateX(3px) rotate(2deg);
    transform: translateX(3px) rotate(2deg);
  }

  40% {
    -webkit-transform: translateX(-3px) rotate(-2deg);
    transform: translateX(-3px) rotate(-2deg);
  }

  50% {
    -webkit-transform: translateX(2px) rotate(1deg);
    transform: translateX(2px) rotate(1deg);
  }

  60% {
    -webkit-transform: translateX(-2px) rotate(-1deg);
    transform: translateX(-2px) rotate(-1deg);
  }

  70% {
    -webkit-transform: translateX(2px) rotate(1deg);
    transform: translateX(2px) rotate(1deg);
  }

  80% {
    -webkit-transform: translateX(-2px) rotate(-1deg);
    transform: translateX(-2px) rotate(-1deg);
  }

  90% {
    -webkit-transform: translateX(1px) rotate(0);
    transform: translateX(1px) rotate(0);
  }

  100% {
    -webkit-transform: translateX(-1px) rotate(0);
    transform: translateX(-1px) rotate(0);
  }
}

@keyframes hvr-buzz-out {
  10% {
    -webkit-transform: translateX(3px) rotate(2deg);
    transform: translateX(3px) rotate(2deg);
  }

  20% {
    -webkit-transform: translateX(-3px) rotate(-2deg);
    transform: translateX(-3px) rotate(-2deg);
  }

  30% {
    -webkit-transform: translateX(3px) rotate(2deg);
    transform: translateX(3px) rotate(2deg);
  }

  40% {
    -webkit-transform: translateX(-3px) rotate(-2deg);
    transform: translateX(-3px) rotate(-2deg);
  }

  50% {
    -webkit-transform: translateX(2px) rotate(1deg);
    transform: translateX(2px) rotate(1deg);
  }

  60% {
    -webkit-transform: translateX(-2px) rotate(-1deg);
    transform: translateX(-2px) rotate(-1deg);
  }

  70% {
    -webkit-transform: translateX(2px) rotate(1deg);
    transform: translateX(2px) rotate(1deg);
  }

  80% {
    -webkit-transform: translateX(-2px) rotate(-1deg);
    transform: translateX(-2px) rotate(-1deg);
  }

  90% {
    -webkit-transform: translateX(1px) rotate(0);
    transform: translateX(1px) rotate(0);
  }

  100% {
    -webkit-transform: translateX(-1px) rotate(0);
    transform: translateX(-1px) rotate(0);
  }
}

.contact-info i {
  color: #0099F7;
  font-size: 20px;
  margin-right: 2px;
}

.header-area .navigation {
  height: 90px;
  position: relative;
  z-index: 9;
  display: flex;
  align-items: center;
}

.header-area .header-inner-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-area .header-inner-box .logo {
  height: 90px;
  display: flex;
  align-items: center;
  padding-right: 30px;
  font-size: 30px;
  font-weight: 500;
  color: #171717;
  text-transform: uppercase;
  letter-spacing: 3px;
}

.logo a {
  font-size: 30px;
  font-weight: 400;
  color: rgb(255, 255, 255);
  text-transform: uppercase;
  letter-spacing: 3px;
}

.logo img {
  width: 180px;
}

.main-menu ul {
  line-height: 1;
}

.main-menu ul>li {
  display: inline-block;
  line-height: 1;
  position: relative;
}

.main-menu ul>li>a {
  display: inline-block;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 500;
  text-transform: capitalize;
  line-height: 1;
  padding: 35px 0;
  overflow: hidden;
  margin-right: 30px;
}

.main-menu ul>li>a i {
  margin-left: 5px;
}

.main-menu ul>li:hover>ul {
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
}

.main-menu ul>li>ul {
  position: absolute;
  top: 100%;
  width: 230px;
  background-color: #086AD7;
  left: 0;
  z-index: 999;
  box-shadow: 0 13px 35px -12px rgba(35, 35, 35, 0.15);
  visibility: hidden;
  opacity: 0;
  transform: translateY(40px);
  transition: all 0.5s ease-in-out;
  padding: 10px 0px;
}

.main-menu ul>li>ul li {
  display: block;
}

.main-menu ul>li>ul li a {
  display: block;
  color: #eee;
  padding: 12px 25px;
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.main-menu ul>li>ul li a:hover {
  color: #fff;
}

.main-menu ul>li>ul ul {
  left: 100%;
  top: 0;
}

.mobile-nav {
  position: fixed;
  right: -380px;
  top: 0;
  width: 320px;
  height: 100vh;
  scroll-behavior: smooth;
  overflow-y: scroll;
  transition: right 0.5s ease-in;
  background-color: #086AD7;
  padding: 20px;
  z-index: 9999;
  box-shadow: 0 13px 35px -12px #086AD7;
  /* Vertical Menu Style */
}

.mobile-nav.show {
  right: 0px;
}

.mobile-nav .close-nav {
  border: 0;
  background: transparent;
  color: #fff;
  border-radius: 30px;
  font-size: 30px;
  position: absolute;
  left: 20px;
  top: 10px;
}

.mobile-nav .sidebar-nav {
  margin-top: 60px;
}

.mobile-nav .sidebar-nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
  background-color: transparent;
}

.mobile-nav .sidebar-nav .metismenu {
  display: flex;
  flex-direction: column;
}

.mobile-nav .sidebar-nav .metismenu>li {
  position: relative;
  display: flex;
  flex-direction: column;
}

.mobile-nav .sidebar-nav .metismenu a {
  position: relative;
  display: block;
  padding: 10px 15px;
  transition: all 0.3s ease-out;
  text-decoration: none;
  color: #fff;
  outline-width: 0;
  font-size: 12px;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 2px;
  border-bottom: 1px solid #227bdf;
}

.mobile-nav .sidebar-nav .metismenu ul li {
  display: block;
}

.mobile-nav .sidebar-nav .metismenu ul a {
  padding: 10px 15px 10px 35px;
  position: relative;
}

.mobile-nav .sidebar-nav .metismenu ul a:hover {
  padding-left: 40px;
}

.mobile-nav .sidebar-nav .metismenu ul a:hover::before {
  background-color: #fff;
}

.mobile-nav .sidebar-nav .metismenu ul a::before {
  position: absolute;
  left: 15px;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  border: 2px solid #fff;
  content: "";
  top: 50%;
  transition: all 0.3s ease-in-out;
  transform: translateY(-50%);
}

.mobile-nav .sidebar-nav .metismenu ul ul {
  list-style-type: circle !important;
}

.mobile-nav .sidebar-nav .metismenu ul ul a {
  padding: 10px 15px 10px 45px;
}

.mobile-nav .sidebar-nav .metismenu a:hover,
.mobile-nav .sidebar-nav .metismenu a:focus,
.mobile-nav .sidebar-nav .metismenu a:active {
  text-decoration: none;
  color: #fff;
  background: #1F2437;
}

.header-area .container {
  background: #fff;
}

#hamburger {
  color: #171717;
  font-size: 32px;
  line-height: 1;
  text-align: right;
  display: none;
}

#hamburger i {
  cursor: pointer;
}

@media (max-width: 1199px) {
  #hamburger {
    display: block;
  }
}

.action-bar {
  margin-top: 60px;
  padding-left: 20px;
}

.action-bar a {
  color: #fff;
  display: block;
  margin-top: 12px;
  font-size: 15px;
}

.action-bar a i {
  margin-right: 10px;
}

.action-bar .theme-btn {
  margin-top: 30px;
  display: inline-block;
}

/* 17. Slide Area CSS  */

.homepage-slides {
  position: relative;
  overflow: hidden;
}

.homepage-slides .single-slide-item {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-color: #ddd;
  width: 100%;
  height: 500px;
  display: table;
  align-items: center;
  position: relative;
  z-index: 1;
}

.homepage-slides .single-slide-item .image-layer {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  transform: scale(1);
  transition: all 7000ms linear;
}

.homepage-slides .active .single-slide-item .image-layer {
  -webkit-transform: scale(1.15);
  -ms-transform: scale(1.15);
  transform: scale(1.15);
}

.single-slide-item h1 {
  color: #fff;
  font-size: 85px;
  font-weight: 500;
  line-height: 95px;
  letter-spacing: 1px;
  margin: 30px 0;
}

.homepage-slides .section-title h6 {
  color: #bfbdbd;
}

.single-slide-item p {
  color: #fff;
  font-size: 18px;
  line-height: 28px;
}

.hero-area-content {
  display: table-cell;
  vertical-align: middle;
}

/* 18. Footer Area CSS */
.footer-area {
  background: #050913;
  color: #fff;
  position: relative;
}

.footer-area .logo {
  height: 90px;
  display: flex;
  align-items: center;
  padding-right: 30px;
  font-size: 30px;
  font-weight: 700;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.footer-area h5 {
  font-size: 22px;
  font-weight: 500;
  color: #fff;
  margin: 20px 0;
}

.footer-area p {
  font-size: 16px;
  margin-top: 18px;
  color: #9BA2AD;
}

.footer-area ul li a {
  font-size: 16px;
  display: block;
  color: #9BA2AD;
  padding: 10px 0;
  position: relative;
}

@media (max-width: 767px) {
  .footer-area ul li a {
    padding: 6px 0;
  }
}

.footer-area ul li a:hover {
  opacity: 0.5;
}

.contact-info p {
  margin-bottom: 10px;
}

.footer-up {
  padding: 80px 0;
}

.footer-up .social-area i {
  color: #eee;
  font-size: 20px;
  margin-right: 10px;
}

.footer-bottom {
  font-size: 15px;
  font-weight: 400;
  padding: 20px 0;
  background: #050913;
  border-top: 1px solid;
}

.footer-bottom p {
  margin: 0;
  color: #fff;
  font-size: 15px;
}

@media (max-width: 767px) {
  .footer-bottom {
    text-align: center;
  }
}

.company-email a {
  color: #f6f6f6;
  font-size: 16px;
  font-weight: 400;
  text-decoration: underline;
  margin-top: 10px;
}

.company-email a:hover {
  color: #fff;
}

.phone-number p {
  font-size: 20px;
  color: #fff;
}

/* 19. Feature Area CSS */

.feature-area .single-feature-item {
  margin-top: -50px;
  box-shadow: 0px 15px 30px rgba(0, 0, 0, 0.1);
  box-shadow: 0 0 10px -2px #6b7d6f;
  border-radius: 5px;
}

.feat-icon i:before {
  font-size: 55px;
  color: #0764dc;
}

.feat-icon {
  background: #fff;
  padding: 65px 30px 50px;
  height: 100%;
  border-radius: 5px 0 0 5px;
}

.feat-content {
  background: #fff;
  padding: 28px;
  border-left: 1px solid #eee;
  border-radius: 0px 5px 5px 0;
}

.feat-content h5 {
  font-size: 20px;
}

.feat-content p {
  margin: 15px 0;
}

.feat-content a {
  font-size: 20px;
  color: #87C03D;
}

.feature-area {
  position: relative;
  z-index: 9;
}

/* 20. About # 01 CSS */

.info-img {
  background-size: cover;
  background-position: top center;
}

.info-content-area .section-title h2 {
  position: relative;
  padding-left: 35px;
}

.info-content-area .section-title h2:before {
  position: absolute;
  content: " ";
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-left: 5px solid #0099F7;
}

.info-content-area p.highlight {
  position: relative;
  padding-left: 35px;
  margin: 10px 0;
}

.info-content-area p.highlight:before {
  position: absolute;
  content: "";
  width: 15px;
  height: 15px;
  top: 5px;
  left: 0;
  background: #DDD;
}

.info-img {
  margin-right: 30px;
}

.about-area .text {
  font-size: 22px;
  font-weight: 500;
  font-style: italic;
  line-height: 30px;
  color: #00676C;
  border-left: 5px solid #eee;
  padding-left: 35px;
  margin-top: 20px;
}

/* 21. Services CSS */

.services-area {
  position: relative;
  z-index: 1;
}

.service-icon i:before {
  font-size: 50px;
  color: #0099F7;
}

.single-service-area {
  text-align: center;
  height: 320px;
  padding: 40px;
  background: #fff;
  position: relative;
  z-index: 1;
  box-shadow: 0 0 9px 0 rgba(29, 33, 67, 0.1);
}

.single-service-area h4 {
  font-size: 20px;
  font-weight: 500;
  line-height: 26px;
  letter-spacing: 1px;
  margin: 30px 0 20px;
}

.single-service-area p {
  color: #878787;
}

.single-service-area:hover h4 {
  color: #fff;
}

.single-service-area:hover p {
  color: #fff;
}

.single-service-area:before {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: -1;
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s ease-out;
  background-size: cover;
  background-position: center;
}

.single-service-area:after {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: #03102A;
  z-index: -1;
  opacity: 0;
  visibility: hidden;
  transition: all 0.4s ease-out;
}

.single-service-area:hover::before {
  visibility: visible;
  opacity: 0.5;
}

.single-service-area:hover::after {
  visibility: visible;
  opacity: 0.9;
}

.single-serv-item {
  background: #fff;
  height: 350px;
  text-align: left;
  position: relative;
  z-index: 1;
  transform: translateY(-20px);
  transition: 0.5s;
  border: 1px solid #eee;
  border-radius: 5px;
  margin-top: 50px;
}

.single-serv-item:hover {
  transform: translateY(-20px);
}

.serv-content {
  border-top: 1px solid #efefef;
  padding: 20px 40px 10px;
}

.serv-content h5 {
  margin: 5px 0 15px;
  color: #1d2143;
  font-weight: 500;
  font-size: 22px;
}

.serv-icon {
  padding: 35px 40px 30px;
}

.serv-icon i:before {
  font-size: 60px;
  color: #0099F7;
}

.single-serv-item a {
  text-transform: uppercase;
  font-size: 16px;
  letter-spacing: 1px;
  font-weight: 500;
  padding: 30px 40px;
}

#service-3.services-area {
  background: #fff;
}

#service-3 .single-service-area {
  text-align: center;
  height: 320px;
  padding: 40px;
  background: #fff;
  position: relative;
  z-index: 1;
}

/* 22. Service Details Page
============== */

/* 23. Logistics CSS  */

/*Logistics Section # 03
========================*/

.service-icon i {
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px transparent;
}

.single-process-area {
  text-align: center;
  margin-top: 50px;
  overflow: hidden;
}

.single-process-area h5 {
  font-size: 14px;
  color: #fff;
  margin: 25px 0 10px;
  letter-spacing: 1px;
}

.single-process-area h4 {
  font-size: 20px;
  margin: 20px 0;
}

.process-icon {
  position: relative;
}

.process-icon img {
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px transparent;
}

.single-process-area:hover img {
  -webkit-animation-name: hvr-buzz-out;
  animation-name: hvr-buzz-out;
  -webkit-animation-duration: 1.5s;
  animation-duration: 1.5s;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;
}

[class*=col-lg-3]:not(:last-child) .process-icon:after {
  position: absolute;
  content: "";
  top: 50%;
  right: -44px;
  width: 80px;
  height: 1px;
  border: 1px dashed cadetblue;
  opacity: 0.7;
}

/* 24. Quotation CSS  */

/* 25. Faq Section CSS  */

.cp-custom-accordion .collapsed {
  position: relative;
  z-index: 9;
}

.cp-custom-accordion .accordion-body {
  background-color: #fff;
  color: #878787;
  padding: 20px 0;
  padding-left: 30px;
  position: relative;
  font-size: 16px;
  font-weight: 400;
  line-height: 28px;
  text-align: left;
  z-index: 1;
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .cp-custom-accordion .accordion-body {
    padding-right: 25px;
    padding-bottom: 0;
  }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .cp-custom-accordion .accordion-body {
    padding-right: 30px;
    padding-bottom: 0;
  }
}

@media (max-width: 767px) {
  .cp-custom-accordion .accordion-body {
    padding-right: 30px;
    padding-left: 30px;
  }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .faq-content-wrapper {
    margin-top: 60px;
  }
}

@media (max-width: 767px) {
  .faq-content-wrapper {
    margin-top: 60px;
  }
}

/* 26. Testimonial CSS  */

/* 27. Blog Section CSS  */

/* 28. Counter CSS  */

/* 29. Choose Us CSS  */

.chooseus-area {
  border-top: 1px solid #eee;
}

.chooseus-area .section-heading:after {
  margin: 0;
}

.single-feature-item .num {
  font-size: 24px;
  line-height: 24px;
  background: #0099F7;
  display: inline-block;
  padding: 10px;
  color: #fff;
  width: 45px;
  height: 45px;
  text-align: center;
  float: left;
  border-radius: 5px;
}

.feature-content h5 {
  font-size: 22px;
  margin: 0;
}

.feature-content {
  padding-left: 70px;
  margin-top: 30px;
  margin-bottom: 30px;
  border-bottom: 1px solid #eee;
}

.feature-content p {
  font-size: 16px;
  line-height: 26px;
  margin: 10px 0;
}

/* 30. Price CSS  */

/* Price Page */

/* 31. CTA CSS  */

#cta-2.cta-area {
  background-color: #00283F;
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: 1;
}

#cta-2.cta-area h2 {
  font-size: 50px;
  line-height: 65px;
  color: #fff;
  font-weight: 600;
}

#cta-2.cta-area h6 {
  color: #0099F7;
  text-transform: uppercase;
  font-size: 16px;
  margin-bottom: 10px;
}

#cta-2.cta-area p {
  color: #cacaca;
  margin: 12px 0;
}

#cta-2.cta-area .contact-info i {
  font-size: 50px;
  float: left;
  padding-right: 10px;
}

#cta-2 .contact-info h5 {
  font-size: 22px;
  color: #fff;
}

#cta-2 .contact-info p {
  margin: 4px 0;
}

/* 32. Team CSS  */

/* 33. Contact CSS  */

.contact-section {
  background-color: #002c42;
}

.contact-section h2 {
  color: #fff;
}

.contact-section p {
  color: #fff;
}

.contact-section .contact-info i {
  font-size: 30px;
  margin-left: 0;
  background: #0099F7;
  color: #fff;
  padding: 10px;
  border-radius: 0;
  float: left;
}

.contact-section button.theme-btn {
  border: none;
}

.contact-section button.theme-btn:hover {
  background: #25283a;
  color: #fff;
}

.contact-form {
  margin-top: 80px;
}

.contact-form input,
.contact-form textarea {
  margin-bottom: 30px;
}

.contact-us-area {
  background-size: cover;
  height: 500px;
  position: relative;
  z-index: 1;
}

.contact-us-wrapper {
  background: #fff;
  margin-top: 50px;
  position: relative;
}

.contact-us-inner {
  text-align: center;
  padding: 40px 30px;
  border-right: 1px solid #eee;
}

.contact-us-inner:nth-last-child(4) {
  border-right: none;
}

.contact-us-inner h5 {
  margin: 40px 0 20px;
}

.contact-us-inner a {
  text-transform: uppercase;
  color: #0099F7;
  font-size: 17px;
  font-weight: 500;
  margin: 20px 0 10px;
}

#contact-us .info-i {
  position: relative;
  z-index: 1;
}

#contact-us .info-i i:before {
  font-size: 50px;
  color: #0099F7;
}

.contact-section .section-title h2 {
  color: #fff;
}

/* 34. Breadcrumb CSS  */

.breadcrumb-area {
  background-color: #002c42;
}

.breadcrumb-area {
  height: 350px;
  background-size: cover;
  background-position: center bottom;
  background-color: #ddd;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  position: relative;
  z-index: 2;
}

.breadcrumb-area:after {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: #092c3e;
  opacity: 0.5;
  z-index: -1;
}

.breadcrumb-area .breadcrumb-title h1 {
  font-size: 70px;
  font-weight: 700;
  letter-spacing: 1px;
  color: #fff;
  margin-top: 40px;
  position: relative;
  padding-left: 30px;
}

.breadcrumb-area .breadcrumb-title h1:before {
  position: absolute;
  content: " ";
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-left: 5px solid #0099F7;
}

.breadcrumb-area h6 a {
  color: #fff;
  font-size: 16px;
}

.breadcrumb-area h6 {
  color: #aeb1b3;
  font-size: 16px;
  margin-top: 25px;
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .breadcrumb-area .breadcrumb-title h1 {
    font-size: 50px;
  }
}

@media only screen and (min-width: 576px) and (max-width: 767px) {
  .breadcrumb-area .breadcrumb-title h1 {
    font-size: 40px;
  }
}

@media (max-width: 575px) {
  .breadcrumb-area .breadcrumb-title h1 {
    font-size: 35px;
  }
}