{% extends "base.html" %}

{% block title %}Welcome To{% endblock title %}

{% block content %}

<!-- Hero Area -->

<div class="homepage-slides">
    <div class="single-slide-item">
        <div class="image-layer" style="background-image: url(https://placehold.co/1200x400);">
            <div class="overlay"></div>
        </div>
        <div class="hero-area-content">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-lg-12">
                        <div class="section-title">
                            <h1>We are experts in<br> <b>Global Courier</b></h1>
                            <p> Logistics Revolution, in modern history, the process of change from an agrarian <br>and
                                handicraft economy to one dominated by courier and deliver services.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Feature Section -->

<div class="feature-area">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-6 col-12">
                <div class="single-feature-item">
                    <div class="row gx-0">
                        <div class="col-lg-4 col-md-12 col-12 text-center">
                            <div class="feat-icon">
                                <i class="fa-solid fa-user fa-2x"></i>
                            </div>
                        </div>
                        <div class="col-lg-8 col-md-12 col-12">
                            <div class="feat-content">
                                <h5>Flat Rate Fees</h5>
                                <p>It is a long established fact that and reader will by the readable based.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-12">
                <div class="single-feature-item">
                    <div class="row gx-0">
                        <div class="col-lg-4 col-md-12 col-12 text-center">
                            <div class="feat-icon">
                                <i class="fa-solid fa-clock fa-2x"></i>
                            </div>
                        </div>
                        <div class="col-lg-8 col-md-12 col-12">
                            <div class="feat-content">
                                <h5>24/7 Services</h5>
                                <p>It is a long established fact that and reader will by the readable based.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-12">
                <div class="single-feature-item">
                    <div class="row gx-0">
                        <div class="col-lg-4 col-md-12 col-12 text-center">
                            <div class="feat-icon">
                                <i class="fa-solid fa-truck fa-2x"></i>
                            </div>
                        </div>
                        <div class="col-lg-8 col-md-12 col-12">
                            <div class="feat-content">
                                <h5>Free Estimate</h5>
                                <p>It is a long established fact that and reader will by the readable based.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Tracking Area -->
<div id="cta-2" class="cta-area mt-40">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-md-8 col-12">
                <h6>Are you expecting a Delivery?</h6>
                <h2>You can track your package with a unique tracking number</h2>
            </div>
            <div class="col-md-4 text-end">
                <div class="contact-info">
                    <a href="{% url 'track' %}" class="theme-btn">Track Now</a>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- About Section-->

<div class="about-area section-padding">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-12 col-sm-12">
                <div class="info-content-area">
                    <div class="section-title">
                        <h6>About Us</h6>
                        <h2>We're leading <b>Courier <br>Service</b> in Nigeria</h2>
                    </div>
                    <p>We are serve worldwide site lorem ipsum dolor sit amet, consectetur adipisicing elit. Ea enim et,
                        similique, minus soluta ducimus.</p>
                    <p class="highlight">Since our launch in 1995, to deliver high value package.</p>
                    <p class="highlight">We always provide flexible & quality task. </p>
                    <p class="highlight">Unique latest machinary used the Logistics project.</p>
                </div>
            </div>

            <div class="col-lg-6 col-md-12 col-sm-12">
                <div class="info-img">
                    <img src="https://placehold.co/450x450" alt="">
                </div>
            </div>

        </div>
    </div>
</div>

<!-- Services Area -->

<div id="service-1" class="services-area blue-bg section-padding pb-120">
    <div class="container">
        <div class="row">
            <div class="offset-lg-2 col-lg-8 text-center">
                <div class="section-title">
                    <h6 class="text-white">Services</h6>
                    <h2 class="text-white">We Provide Various Category <br><b>Delivery Services</b></h2>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4 col-md-6 col-sm-12">
                <div class="single-service-area mt-30 mb-50">
                    <div class="service-icon">
                        <i class="fa-solid fa-truck"></i>
                    </div>
                    <h4>Standard Courier</h4>
                    <p>This services involve transferring the parcels to the closest depot to the delivery location.</p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-12">
                <div class="single-service-area service-2 mt-30 mb-50">
                    <div class="service-icon">
                        <i class="fa-solid fa-truck-ramp-box"></i>
                    </div>
                    <h4>Express Courier</h4>
                    <p>This is a service provided to those who need urgent delivery to be sent and received on the same
                        day.</p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-12">
                <div class="single-service-area service-3 mt-30 mb-50">
                    <div class="service-icon">
                        <i class="fa-solid fa-truck-fast"></i>
                    </div>
                    <h4>Pallet Courier</h4>
                    <p>This is a service that safely strict delivery and promptly delivers goods on pallets.</p>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 col-sm-12">
                <div class="single-service-area service-4 mt-30">
                    <div class="service-icon">
                        <i class="fa-solid fa-boxes-packing"></i>
                    </div>
                    <h4>Over Night Courier</h4>
                    <p>This courier will usually transport the goods during the night or early of the morning.</p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-12">
                <div class="single-service-area service-5 mt-30">
                    <div class="service-icon">
                        <i class="fa-solid fa-box-open"></i>
                    </div>
                    <h4>International Courier</h4>
                    <p>This is a transport service of goods or documents from one country to another country.</p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-12">
                <div class="single-service-area service-6 mt-30">
                    <div class="service-icon">
                        <i class="fa-solid fa-warehouse"></i>
                    </div>
                    <h4>Warehousing</h4>
                    <p>This type of service will involve managed storage solutions to give companies greater control.
                    </p>
                </div>
            </div>

        </div>
    </div>
</div>

<!-- Process Area -->

<div class="process-area section-padding">
    <div class="container">
        <div class="row">
            <div class="offset-lg-2 col-lg-8 text-center">
                <div class="section-title">
                    <h6>Our Process</h6>
                    <h2>How We <b>Work</b> for <b>Customers</b></h2>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-3 col-md-6 col-sm-12">
                <div class="single-process-area">
                    <div class="process-icon">
                        <i class="fa-2x text-primary fa-solid fa-person-walking"></i>
                    </div>
                    <h4>Pay a Visit</h4>
                    <p>Visit us at our office location with your package to be delivered.</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-12">
                <div class="single-process-area">
                    <div class="process-icon">
                        <i class="fa-2x text-primary fa-solid fa-receipt"></i>
                    </div>
                    <h4>Documentation</h4>
                    <p>Provide us with the information of the package you want delivered.</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-12">
                <div class="single-process-area">
                    <div class="process-icon">
                        <i class="fa-2x text-primary fa-solid fa-credit-card"></i>
                    </div>
                    <h4>Process</h4>
                    <p>Pay for the package to be delivered while we move it to the sorting center.</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-12">
                <div class="single-process-area">
                    <div class="process-icon">
                        <i class="fa-2x text-primary fa-solid fa-compass"></i>
                    </div>
                    <h4>Track Package</h4>
                    <p>Track your package via our website until it gets to its final destination.</p>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- FAQ Section  -->

<div class="faq-area section-padding gray-bg">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">

                <img src="https://placehold.co/500x600" alt="">

            </div>
            <div class="col-lg-6 mt-40 mb-50">
                <div class="faq-content-wrapper">
                    <div class="section-title">
                        <h6>FAQ</h6>
                        <h2 class="text-black">Helpful Frequently Asked Question</h2>
                    </div>
                    <div 1class="cp-custom-accordion">
                        <div class="accordion" id="accordionExample">
                            <div class="accordion-item">
                                <h2 class="accordion-header" id="headingOne">
                                    <button class="accordion-button" type="button" data-bs-toggle="collapse"
                                        data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                        <span class="me-3">01</span>When can I expect my delivery?
                                    </button>
                                </h2>
                                <div id="collapseOne" class="accordion-collapse collapse show"
                                    aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                                    <div class="accordion-body">
                                        Lorem ipsum dolor sit amet, consectetur adip iscing elit, sed do eiusmo
                                        tempor incididunt ut labore et dolore ad magna aliqua. Ut enim ad minim
                                        veniam, quis nostrud.
                                    </div>
                                </div>
                            </div>
                            <div class="accordion-item">
                                <h2 class="accordion-header" id="headingTwo">
                                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                        data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                        <span class="me-3">02</span>What is the first possible pick-up date?
                                    </button>
                                </h2>
                                <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo"
                                    data-bs-parent="#accordionExample">
                                    <div class="accordion-body">
                                        Lorem ipsum dolor sit amet, consectetur adip iscing elit, sed do eiusmo
                                        tempor incididunt ut labore et dolore ad magna aliqua. Ut enim ad minim
                                        veniam, quis nostrud.
                                    </div>
                                </div>
                            </div>
                            <div class="accordion-item">
                                <h2 class="accordion-header" id="headingThree">
                                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                        data-bs-target="#collapseThree" aria-expanded="false"
                                        aria-controls="collapseThree">
                                        <span class="me-3">03</span>How can I pay for the service?
                                    </button>
                                </h2>
                                <div id="collapseThree" class="accordion-collapse collapse"
                                    aria-labelledby="headingThree" data-bs-parent="#accordionExample">
                                    <div class="accordion-body">
                                        Lorem ipsum dolor sit amet, consectetur adip iscing elit, sed do eiusmo
                                        tempor incididunt ut labore et dolore ad magna aliqua. Ut enim ad minim
                                        veniam, quis nostrud.
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock content %}